@{ 
    ViewBag.Title = "Admin";
}

<h2>Admin Page</h2>

<div class="col-md-6">
    <h4>Product Management</h4>
    <div class="list-group">
        @Html.ActionLink("Categoria de produtos", "Index", "ProductCategoryManager", null, new { @class = "list-group-item" })
        @Html.ActionLink("Produtos", "Index", "ProductManager", null, new { @class = "list-group-item" })
    </div>

    <div class="col-md-6">
        <h4>Order Management</h4>
        <div class="list-group">
            @Html.ActionLink("Ordens", "Index", "OrderManager", null, new { @class = "list-group-item" })
        </div>
    
    </div>